/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(227,243,255);
}

/* CUSTOMIZE THE HEADER
-------------------------------------------------- */
/* RiverwaveStat navbar header */
a.navbar-brand  {
    padding-left: 10pt;
}

/* CUSTOMIZE THE MAIN RIVERWAVE CARDS CONTENT
-------------------------------------------------- */

/* Cards background cover */
.card-bg-cover {
    border-radius: 10px;
    padding: 20px;
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(75,75,75);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

/* DIV settings for each single wave card */
#single-wave-card-div {
    padding-top: 20px;
    color: rgb(204, 204, 204);
    text-align: center;
}

/* DIV settings for all wave cards */
.row {
    padding-left: 15px;
    padding-right: 15px;
}


.data-container {
    color: rgb(255, 255, 255);
}

.data-header {
    position: relative;
    float: center;
}

.data-icon {
    float: center;
    margin-left: 10px;
}

/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */

/* FOOTER HORIZONTAL LINE */
hr.footer-h-line {
	border-top: 2px solid #8c8b8b;
}



.card {
    border: none;
    border-radius: 10px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


.voutchers {
    border: solid;
    border-width: 1px;
    border-color: rgba(0,0,0, 0.2);
    border-radius: 10px;
    padding: 7px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.voutcher-divider {
    display: flex
}

.voutcher-left {
    width: 50%;
}

.voutcher-name {
    color: #fff;
    font-size: 12px
}

.voutcher-code {
    color: #fff;
    font-size: 9px
}

.voutcher-right {
    width: 50%;
    color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
}


/* No cookies website
-------------------------------------------------- */
.nocookie-container {
  max-width: 30em
}

.nocookie-heading {
  padding: 20px;
}


/* Imprint
-------------------------------------------------- */
.imprint-container {
  max-width: 80em
}

.imprint-heading {
  padding: 20px;
}

.encr {
    unicode-bidi: bidi-override;
    direction: rtl;
}






