{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <img src="/static/img/fail.png" alt="Error 404" class="img-fluid" />
</div>

 <section class="">
      <div class="container text-center text-md-start mt-10">
      <!-- Grid row -->
        <div class="col-md-6 col-lg-8 col-xl-6 mx-auto mb-8">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Oops! Diese Seite ist im Fluss versunken...
          </h6>
          <p>
              Jetzt schnell wieder zur Webseite auftauchen!
              <a class="text-reset fw-bold" href="/">Home</a>
          </p>
        </div>
      </div>
 </section>
{% endblock %}